@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/open-sans.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/open-sans-bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"), url(../fonts/merriweather-light.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(../fonts/merriweather.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../fonts/merriweather-bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(../fonts/merriweather-light-italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(../fonts/merriweather-bold-italic.ttf) format("truetype"); }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9em;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased; }
  body.pushed {
    overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.04em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.45em;
  color: #4a4a4a; }

h1,
h2,
h3 {
  margin: 1em 0 1em 0; }

h4,
h5,
h6 {
  margin: 1em 0 0.5em 0; }

h1 {
  font-size: 2.8rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.7rem; }

h6 {
  font-size: 1.6rem; }

p {
  margin: 0 0 1.5em 0; }

ul,
ol,
dl {
  margin: 0 0 0.5em 0; }

a, a:hover, a:active, a:visited {
  cursor: pointer;
  color: #349ef3;
  text-decoration: none; }

a:hover {
  color: #349ef3;
  text-decoration: underline; }

table {
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  table th {
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 2px solid #909ba2; }
  table td {
    padding: 5px 10px; }
  table tr:nth-child(2n) {
    background: #f7f8f8; }

hr {
  margin: 1.5em 0 0;
  outline: none;
  border: none;
  border-top: 1px solid #eef2f8; }

dl dt {
  font-weight: bold; }

dl dd {
  margin-left: 0; }

pre > code {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-family: Menlo, Consolas, monospace;
  border: none;
  margin: 0;
  cursor: text;
  overflow-x: auto;
  line-height: 1.7em;
  font-size: 1.4rem; }

code {
  font-size: 1.5rem;
  display: inline-block;
  font-family: Menlo, Consolas, monospace;
  font-weight: 400;
  background-color: #f7f8f8;
  padding: 0 10px; }

acronym,
abbr {
  border-bottom: 1px dotted #5d686f; }

blockquote {
  border-left: 3px solid #5d686f;
  padding: 0 15px;
  font-style: italic;
  margin: 1.5em 0 0; }
  blockquote cite:before {
    content: ' — ';
    padding: 0 0.3em; }
  blockquote > p:first-child {
    margin: 0; }

@media only screen and (max-width: 767px) {
  code {
    font-size: 1.4rem; }
  h1 {
    font-size: 2.6rem; }
  h2 {
    font-size: 2.2rem; }
  h3 {
    font-size: 1.8rem; }
  h4 {
    font-size: 1.6rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 2.65rem; }
  h2 {
    font-size: 2.25rem; }
  h3 {
    font-size: 1.85rem; }
  h4 {
    font-size: 1.65rem; }
  h5 {
    font-size: 1.55rem; }
  h6 {
    font-size: 1.45rem; } }

#about {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 26, 35, 0);
  text-align: center;
  line-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 30; }
  #about #about-card {
    position: relative;
    top: -1000px;
    display: block;
    background: white;
    max-width: 400px;
    margin: 15px auto;
    border-radius: 3px;
    padding: 30px 0;
    cursor: initial;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #about #about-card #about-btn-close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #9eabb3;
      cursor: pointer; }
      #about #about-card #about-btn-close:hover {
        color: #738691; }
    #about #about-card #about-card-picture {
      margin-bottom: 15px; }
    #about #about-card #about-card-name {
      margin-top: 0;
      margin-bottom: 20px; }
    #about #about-card #about-card-bio {
      padding: 0 30px;
      margin: 0 0 30px 0; }
    #about #about-card #about-card-job,
    #about #about-card #about-card-location {
      display: inline-block;
      vertical-align: top; }
    #about #about-card #about-card-job,
    #about #about-card #about-card-location,
    #about #about-card #about-card-bio {
      font-size: 1.6rem;
      line-height: 1.9em;
      font-weight: 400;
      color: #5d686f; }

@media only screen and (max-width: 767px) {
  #about #about-card {
    width: 90%; }
    #about #about-card #about-card-job,
    #about #about-card #about-card-location {
      display: block;
      width: calc(100% - 60px);
      padding: 0 30px; }
    #about #about-card #about-card-picture {
      width: 90px;
      height: 90px;
      border-radius: 45px; }
    #about #about-card #about-card-job {
      margin-bottom: 15px; } }

@media only screen and (min-width: 768px) {
  #about #about-card {
    width: 80%; }
    #about #about-card #about-card-picture {
      width: 110px;
      height: 110px;
      border-radius: 55px; }
    #about #about-card #about-card-job,
    #about #about-card #about-card-location {
      display: inline-block;
      width: calc((100% / 2) - 48px); }
    #about #about-card #about-card-job {
      padding: 0 15px 0 30px; }
    #about #about-card #about-card-location {
      padding: 0 30px 0 15px; } }

#blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#bottom-bar {
  display: none;
  position: fixed;
  bottom: 0;
  height: 60px;
  background: white;
  margin: 0;
  border-top: 1px solid #eef2f8;
  padding: 0 15px;
  z-index: 40;
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out; }

@media only screen and (max-width: 767px) {
  #bottom-bar {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="1"].pushed, #bottom-bar[data-behavior="2"].pushed, #bottom-bar[data-behavior="4"].pushed, #bottom-bar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
    #bottom-bar[data-behavior="3"].pushed, #bottom-bar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #bottom-bar[data-behavior="1"], #bottom-bar[data-behavior="2"], #bottom-bar[data-behavior="3"] {
    width: calc(100% - 75px - 15px * 2);
    left: 75px; }
    #bottom-bar[data-behavior="1"].pushed, #bottom-bar[data-behavior="2"].pushed, #bottom-bar[data-behavior="3"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); }
  #bottom-bar[data-behavior="4"], #bottom-bar[data-behavior="5"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="4"].pushed, #bottom-bar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #bottom-bar[data-behavior="6"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #bottom-bar[data-behavior="1"], #bottom-bar[data-behavior="2"] {
    width: calc(100% - 250px - 15px * 2);
    left: 250px; }
    #bottom-bar[data-behavior="1"].pushed, #bottom-bar[data-behavior="2"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #bottom-bar[data-behavior="3"] {
    width: calc(100% - 75px - 15px * 2);
    left: 75px; }
    #bottom-bar[data-behavior="3"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); }
  #bottom-bar[data-behavior="4"], #bottom-bar[data-behavior="5"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="4"].pushed, #bottom-bar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #bottom-bar[data-behavior="6"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 1280px) {
  #bottom-bar[data-behavior="1"] {
    width: calc(100% - 500px - 15px * 2);
    left: 500px; }
    #bottom-bar[data-behavior="1"].pushed {
      -webkit-transform: translate3d(500px, 0, 0);
      -moz-transform: translate3d(500px, 0, 0);
      transform: translate3d(500px, 0, 0); }
  #bottom-bar[data-behavior="2"] {
    width: calc(100% - 250px - 15px * 2);
    left: 250px; }
    #bottom-bar[data-behavior="2"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #bottom-bar[data-behavior="3"] {
    width: calc(100% - 75px - 15px * 2);
    left: 75px; }
    #bottom-bar[data-behavior="3"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); }
  #bottom-bar[data-behavior="4"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="4"].pushed {
      -webkit-transform: translate3d(500px, 0, 0);
      -moz-transform: translate3d(500px, 0, 0);
      transform: translate3d(500px, 0, 0); }
  #bottom-bar[data-behavior="5"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #bottom-bar[data-behavior="6"] {
    width: calc(100% - 15px * 2);
    left: 0; }
    #bottom-bar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1; }

#footer {
  color: #9eabb3;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 70px;
  height: auto;
  padding: 20px 20px; }

#header {
  display: block;
  width: 100%;
  height: 55px;
  background: #fff;
  position: fixed;
  top: 0;
  border: 1px solid #eef2f8;
  color: #88909a;
  z-index: 20;
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }
  #header #btn-open-sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer; }
  #header .header-right-picture {
    position: absolute;
    top: 12.5px;
    right: 20px;
    display: block;
    width: 30px;
    height: 30px;
    color: #88909a; }
    #header .header-right-picture .header-picture {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 15px; }
  #header .header-right-icon {
    position: absolute;
    top: 12.5px;
    right: 20px;
    color: #88909a; }
  #header .header-title {
    text-align: center;
    font-size: 1.6rem;
    line-height: 55px;
    margin: 0; }
    #header .header-title .header-title-link {
      color: #88909a;
      font-weight: normal; }
      #header .header-title .header-title-link:hover, #header .header-title .header-title-link:active {
        color: #6e7681;
        text-decoration: none; }
  #header.header-up {
    -webkit-transform: translate3d(0, -55px, 0);
    -moz-transform: translate3d(0, -55px, 0);
    transform: translate3d(0, -55px, 0); }
  #header[data-behavior="1"].pushed, #header[data-behavior="2"].pushed, #header[data-behavior="4"].pushed, #header[data-behavior="5"].pushed {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0); }
  #header[data-behavior="3"].pushed, #header[data-behavior="6"].pushed {
    -webkit-transform: translate3d(75px, 0, 0);
    -moz-transform: translate3d(75px, 0, 0);
    transform: translate3d(75px, 0, 0); }

@media only screen and (min-width: 768px) {
  #header[data-behavior="1"], #header[data-behavior="2"], #header[data-behavior="3"] {
    display: none; } }

@media only screen and (min-width: 1280px) {
  #header[data-behavior="1"].pushed, #header[data-behavior="4"].pushed {
    -webkit-transform: translate3d(500px, 0, 0);
    -moz-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0); }
  #header[data-behavior="2"].pushed, #header[data-behavior="5"].pushed {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0); } }

@media print {
  #header {
    display: none; } }

#main {
  display: block;
  min-height: 100%;
  background: #fff;
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out; }
  #main.hasCover.hasCoverCaption, #main.hasCover.hasCoverMetaOut {
    padding-top: 50px !important; }
  #main.hasCover.hasCoverMetaIn, #main.hasCover.hasCoverMetaOut.hasCoverCaption {
    padding-top: 0 !important; }

@media only screen and (max-width: 767px) {
  #main {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="1"].pushed, #main[data-behavior="2"].pushed, #main[data-behavior="4"].pushed, #main[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
    #main[data-behavior="3"].pushed, #main[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #main[data-behavior="1"], #main[data-behavior="2"], #main[data-behavior="3"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 75px); }
  #main[data-behavior="4"], #main[data-behavior="5"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="4"].pushed, #main[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #main[data-behavior="6"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #main[data-behavior="1"], #main[data-behavior="2"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 250px); }
  #main[data-behavior="3"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 75px); }
  #main[data-behavior="4"], #main[data-behavior="5"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="4"].pushed, #main[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #main[data-behavior="6"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 1280px) {
  #main[data-behavior="1"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 500px); }
  #main[data-behavior="2"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 250px); }
  #main[data-behavior="3"] {
    padding-top: 15px;
    float: right;
    width: calc(100% - 75px); }
  #main[data-behavior="4"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="4"].pushed {
      -webkit-transform: translate3d(500px, 0, 0);
      -moz-transform: translate3d(500px, 0, 0);
      transform: translate3d(500px, 0, 0); }
  #main[data-behavior="5"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #main[data-behavior="6"] {
    padding-top: 70px;
    display: block;
    width: 100%; }
    #main[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

#sidebar {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(17, 26, 35, 0);
  overflow: auto;
  z-index: 20;
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  #sidebar .sidebar-container {
    overflow: auto; }
  #sidebar .sidebar-profile {
    color: #ebebeb;
    text-align: center;
    padding-top: 18px;
    margin-bottom: 15px; }
    #sidebar .sidebar-profile .sidebar-profile-picture {
      display: block;
      margin: 0 auto; }
    #sidebar .sidebar-profile .sidebar-profile-name {
      font-size: 1.1em;
      color: #ebebeb; }
  #sidebar ul.sidebar-buttons {
    padding: 0;
    margin: 0 0 20px 0; }
    #sidebar ul.sidebar-buttons li.sidebar-button {
      display: block;
      width: 100%;
      height: 45px;
      line-height: 45px; }
      #sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        color: #ebebeb;
        display: block;
        height: 100%; }
        #sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link:hover, #sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link:active {
          text-decoration: none;
          color: white; }
    #sidebar ul.sidebar-buttons:first-child {
      margin-top: 5px; }

@media only screen and (max-width: 767px) {
  #sidebar[data-behavior="1"], #sidebar[data-behavior="2"], #sidebar[data-behavior="4"], #sidebar[data-behavior="5"] {
    left: -250px;
    width: 250px; }
    #sidebar[data-behavior="1"] .sidebar-profile, #sidebar[data-behavior="2"] .sidebar-profile, #sidebar[data-behavior="4"] .sidebar-profile, #sidebar[data-behavior="5"] .sidebar-profile {
      height: 130px;
      padding-top: 40px;
      padding-bottom: 7.5px; }
      #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="5"] .sidebar-profile .sidebar-profile-picture {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        margin-bottom: 5px; }
      #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="5"] .sidebar-profile .sidebar-profile-name {
        font-size: 1.6rem; }
    #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button {
      text-align: left; }
      #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: left;
        width: auto;
        padding-left: 23px;
        padding-top: 0; }
        #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
          font-size: 1.8rem;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          vertical-align: middle;
          margin-right: 15px; }
        #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
          display: inline-block;
          width: auto;
          height: 35px;
          line-height: 35px;
          font-size: 1.5rem;
          letter-spacing: 0.3px;
          vertical-align: middle; }
    #sidebar[data-behavior="1"].pushed, #sidebar[data-behavior="2"].pushed, #sidebar[data-behavior="4"].pushed, #sidebar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #sidebar[data-behavior="3"], #sidebar[data-behavior="6"] {
    left: -75px;
    width: 75px; }
    #sidebar[data-behavior="3"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="6"] .sidebar-profile .sidebar-profile-picture {
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 30px; }
    #sidebar[data-behavior="3"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="6"] .sidebar-profile .sidebar-profile-name {
      display: none; }
    #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button {
      text-align: center; }
      #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: center;
        width: 100%; }
        #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
          font-size: 1.8rem;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          vertical-align: middle; }
        #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
          display: none; }
    #sidebar[data-behavior="3"].pushed, #sidebar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #sidebar[data-behavior="1"], #sidebar[data-behavior="2"], #sidebar[data-behavior="3"] {
    width: 75px; }
    #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="3"] .sidebar-profile .sidebar-profile-picture {
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 30px; }
    #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="3"] .sidebar-profile .sidebar-profile-name {
      display: none; }
    #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button {
      text-align: center; }
      #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: center;
        width: 100%; }
        #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
          font-size: 1.8rem;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          vertical-align: middle; }
        #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="3"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
          display: none; }
    #sidebar[data-behavior="1"].pushed, #sidebar[data-behavior="2"].pushed, #sidebar[data-behavior="3"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); }
  #sidebar[data-behavior="4"], #sidebar[data-behavior="5"] {
    left: -250px;
    width: 250px; }
    #sidebar[data-behavior="4"] .sidebar-profile, #sidebar[data-behavior="5"] .sidebar-profile {
      height: 130px;
      padding-top: 40px;
      padding-bottom: 7.5px; }
      #sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="5"] .sidebar-profile .sidebar-profile-picture {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        margin-bottom: 5px; }
      #sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="5"] .sidebar-profile .sidebar-profile-name {
        font-size: 1.6rem; }
    #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button {
      text-align: left; }
      #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: left;
        width: auto;
        padding-left: 23px;
        padding-top: 0; }
        #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
          font-size: 1.8rem;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          vertical-align: middle;
          margin-right: 15px; }
        #sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc, #sidebar[data-behavior="5"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
          display: inline-block;
          width: auto;
          height: 35px;
          line-height: 35px;
          font-size: 1.5rem;
          letter-spacing: 0.3px;
          vertical-align: middle; }
    #sidebar[data-behavior="4"].pushed, #sidebar[data-behavior="5"].pushed {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
  #sidebar[data-behavior="6"] {
    left: -75px;
    width: 75px; }
    #sidebar[data-behavior="6"] .sidebar-profile .sidebar-profile-picture {
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 30px; }
    #sidebar[data-behavior="6"] .sidebar-profile .sidebar-profile-name {
      display: none; }
    #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button {
      text-align: center; }
      #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: center;
        width: 100%; }
        #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
          font-size: 1.8rem;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          vertical-align: middle; }
        #sidebar[data-behavior="6"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
          display: none; }
    #sidebar[data-behavior="6"].pushed {
      -webkit-transform: translate3d(75px, 0, 0);
      -moz-transform: translate3d(75px, 0, 0);
      transform: translate3d(75px, 0, 0); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #sidebar[data-behavior="1"], #sidebar[data-behavior="2"] {
    width: 250px; }
    #sidebar[data-behavior="1"] .sidebar-profile, #sidebar[data-behavior="2"] .sidebar-profile {
      height: 130px;
      padding-top: 40px;
      padding-bottom: 7.5px; }
      #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-picture, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-picture {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        margin-bottom: 5px; }
      #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-name, #sidebar[data-behavior="2"] .sidebar-profile .sidebar-profile-name {
        font-size: 1.6rem; }
    #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button {
      text-align: left; }
      #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link, #sidebar[data-behavior="2"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
        text-align: left;
        width: auto;
        padding-left: 23px;
        padding-top: 0; }
        #sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-bu